@media (max-width: 800px) {

    html, body{
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .infoBox{
        position: absolute;
        display: none;
        bottom: 0px;
        width: 100vw;
        max-height: 50vh;
        background-color: rgb(234, 234, 234);

        flex-wrap: nowrap;
        flex-direction: column;
        border: none;
        border-radius: 0px;
    }
    
    .svgWrapper{
        overflow: scroll;
        height: 100vh;
    }

    .svgWrapperWrapper{
        height: 100%;
        width: auto;
    }

    .newMap{
        transform: scale(2);
        
    }

    .Info {
        font-size: calc(1.7vw + 1.7vh); 
    }
    
    .pointer{
        display: none;
    }
    
    .trackTrain{
        height: 25px;
    }
    
    .stationName{
        text-align: center;
        background-color: var(--infoBx-background);
    }
    
    .exit{
        float: right;
        width: calc(7vw);
        height: calc(7vw); 
        
        border-radius: 100%;
        border-style: none;
        background-color: rgb(234, 234, 234);
    }
    
    .switchLineButton{
        transition-duration: 300ms;
        
        background-color: var(--background-color);
    
        width: calc(11vw);
        height: calc(11vw); 
        
        border-radius: 100%;
        border-style: solid;
        border-color: var(--border-color);
    }

    text,p,h4,button,span {
        font-family: "lunatix", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .zoom{
        float: right;
        width: calc(7vw);
        height: calc(7vw); 
        font-size: large;
    }

    .zoomControll{
        display: block;
        float: right;
        top: 0;
        right: 0;
        width: 100vh;
        min-height: 15%;
        position: absolute;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
    
        z-index: 10;
    }
}