.infoBox{
    position: absolute;
    width: 20%;
    min-height: 15%;
    display: none;
    background-color: rgb(234, 234, 234);

    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;

    border-style: solid;
    border-width: 3px;
    border-color: var(--infoBx-background);
    border-radius: 3%;
    cursor: default;

}

body{
    --infoBx-background: rgb(194, 194, 194);
    cursor: grab;
}

.pointer{
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(234, 234, 234);
    border: 3px solid var(--infoBx-background);
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 50%;
    bottom: -8px;
}

.trackTrain{
    height: 25px;
}

.stationName{
    text-align: center;
    height: 50px;
    background-color: var(--infoBx-background);
}

.insideContainter{

    flex-grow: 5;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 90%;
    flex-grow: 5;
}

.insideStationName{

    flex-grow: 5;
    padding-top: 0px;
    padding-left: 10px;
    flex-basis: 90%;
    flex-grow: 5;
}

.lineNumberCard{
    text-align: right;
    display: inline;
}

.infoCardLeft{
    max-width: 80%;
    height: 100%;
    float: left;
}

.infoCardRight{
    width: 25%;
    height: 100%;
    float: right;
}

.exitRight{
    width: 25%;
    height: 100%;
    float: right;
}

.exit{
    width: calc(2vw);
    height: calc(2vw); 
    
    background: url(/src/assets/XSVG.svg);
    border: none;
}

.switchLineButton{
    transition-duration: 300ms;
    
    background-color: var(--background-color);

    width: 45px;
    height: 45px;
    
    border-radius: 100%;
    border-style: solid;
    border-color: var(--border-color);
}

.switchLineButton:hover{
    background-color: var(--hover-color);
    border-color: rgb(234, 234, 234);
    color: white;
}

.lineButtonList{
    list-style-type: none;
}

p{
    font-size: auto;
}
